.parent {
    background-color: white;
    color: black;
    height: 100vh;
}

.child {
    background-color: rgb(171, 171, 175);
    color: black;
    width: 60%;
    margin: 0 auto;
    /* height: 100vh; */
}